<H2>
BANK(ML1)
<H2>

In [202]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as  sm
from sklearn.preprocessing import StandardScaler as SS
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression as LR
from sklearn.metrics import mean_squared_error as mse
from sklearn.preprocessing import normalize
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeRegressor
from sklearn.decomposition import PCA
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [203]:
data=['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y']

In [204]:
bank=pd.read_csv("C:/Users/venky kishore/Downloads/bank.csv",sep=';',names=data,header=0)

In [205]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [206]:
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [207]:
bank.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

<H3>
Label Encoder
<H3>

In [208]:
le = preprocessing.LabelEncoder()

In [209]:
bank.job=le.fit_transform(bank.job)

In [210]:
bank.marital=le.fit_transform(bank.marital)

In [211]:
bank.education=le.fit_transform(bank.education)

In [212]:
bank.default=le.fit_transform(bank.default)

In [213]:
bank.housing=le.fit_transform(bank.housing)

In [214]:
bank.loan=le.fit_transform(bank.loan)

In [215]:
bank.contact=le.fit_transform(bank.contact)

In [216]:
bank.month=le.fit_transform(bank.month)

In [217]:
bank.day_of_week=le.fit_transform(bank.day_of_week)

In [218]:
bank.poutcome=le.fit_transform(bank.poutcome)

In [219]:
Y=bank.y

In [220]:
Y=le.fit_transform(Y)

In [221]:
Y

array([0, 0, 0, ..., 0, 1, 0])

In [222]:
X=bank.drop('y',axis=1)

In [223]:
X.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
0,56,3,1,0,0,0,0,1,6,1,261,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0
1,57,7,1,3,1,0,0,1,6,1,149,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0
2,37,7,1,3,0,2,0,1,6,1,226,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0
3,40,0,1,1,0,0,0,1,6,1,151,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0
4,56,7,1,3,0,0,2,1,6,1,307,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0

In [224]:
scalar=SS()

In [225]:
scaledX=scalar.fit_transform(X)

In [226]:
scaledX=pd.DataFrame(scaledX)

In [227]:
scaledX.columns=X.columns

In [228]:
scaledX.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
0,1.533034,-0.201579,-0.283741,-1.753925,-0.513600,-1.087707,-0.452491,1.31827,0.762558,-0.718834,0.010471,-0.565922,0.195414,-0.349494,0.192622,0.648092,0.722722,0.886447,0.71246,0.33168
1,1.628993,0.911227,-0.283741,-0.349730,1.945327,-1.087707,-0.452491,1.31827,0.762558,-0.718834,-0.421501,-0.565922,0.195414,-0.349494,0.192622,0.648092,0.722722,0.886447,0.71246,0.33168
2,-0.290186,0.911227,-0.283741,-0.349730,-0.513600,0.942127,-0.452491,1.31827,0.762558,-0.718834,-0.124520,-0.565922,0.195414,-0.349494,0.192622,0.648092,0.722722,0.886447,0.71246,0.33168
3,-0.002309,-1.036184,-0.283741,-1.285860,-0.513600,-1.087707,-0.452491,1.31827,0.762558,-0.718834,-0.413787,-0.565922,0.195414,-0.349494,0.192622,0.648092,0.722722,0.886447,0.71246,0.33168
4,1.533034,0.911227,-0.283741,-0.349730,-0.513600,-1.087707,2.311440,1.31827,0.762558,-0.718834,0.187888,-0.565922,0.195414,-0.349494,0.192622,0.648092,0.722722,0.886447,0.71246,0.33168

In [229]:
xtrain,xtest,ytrain,ytest = train_test_split(scaledX,Y,test_size=0.2,random_state=100)

In [230]:
xtrain.shape

(32950, 20)

In [231]:
ytrain.shape

(32950,)

In [232]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

In [233]:
sel = SelectFromModel(RandomForestClassifier(n_estimators = 100))
sel.fit(xtrain, ytrain)

SelectFromModel(estimator=RandomForestClassifier())

In [234]:
selected_feat= xtrain.columns[(sel.get_support())]
len(selected_feat)

4

In [235]:
selected_feat

Index(['age', 'duration', 'euribor3m', 'nr_employed'], dtype='object')

In [236]:
Selected=scaledX[['age', 'duration', 'euribor3m', 'nr_employed']]

In [237]:
Selected.head()

        age  duration  euribor3m  nr_employed
0  1.533034  0.010471    0.71246      0.33168
1  1.628993 -0.421501    0.71246      0.33168
2 -0.290186 -0.124520    0.71246      0.33168
3 -0.002309 -0.413787    0.71246      0.33168
4  1.533034  0.187888    0.71246      0.33168

<h3>
    Logistic Regression
    <H3>

In [238]:
x_train,x_test,y_train,y_test = train_test_split(Selected,Y,test_size=0.3,random_state=100)

In [239]:
model=LR()

In [240]:
model.fit(x_train,y_train)

LogisticRegression()

In [241]:
predicted_y=model.predict(x_test)

In [242]:
model.score(x_train,y_train)

0.9030210537268912

In [243]:
model.score(x_test,predicted_y)

1.0

In [244]:
final=model.fit(Selected,Y)

In [245]:
final.score(Selected,Y)

0.9034913081480043

<h3>
    Adabooster
    <H3>

In [246]:
from sklearn.ensemble import AdaBoostRegressor
regress=AdaBoostRegressor(random_state=0, n_estimators=100)
regress.fit(x_train, y_train)

AdaBoostRegressor(n_estimators=100, random_state=0)

In [247]:
regress.score(x_train,y_train)

0.1527022858223097

In [248]:
regress.score(x_test,y_test)

0.14734176279091904

<H3>
    Naives Bayes
    <H3>

In [249]:
gb = GaussianNB()

In [250]:
gb.fit(x_train, y_train)

GaussianNB()

In [251]:
 y_pred = gb.predict(x_test)

In [252]:
metrics.accuracy_score(y_test,y_pred)

0.889698146799385

In [253]:
model=gb.fit(Selected,Y)

In [254]:
 y_pred = gb.predict(Selected)

In [255]:
metrics.accuracy_score(Y,y_pred)

0.8890939108478197

<H3>
SVM
<H3>

In [256]:
from sklearn import svm
clf = svm.SVC(kernel='linear') 
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
clf.score(x_test,y_test)

0.894634620053411

<H3>
KNN
<H3>

In [257]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [258]:
for group in x_train:
    for features in x_train:
       Eu_= sqrt( (x_new [0]- x_train[0])**2 + (x_new [1]- x_train[1])**2+(x_new [2]- x_train[2])**2+(x_new [3]- x_train[3])**2)

NameError: name 'sqrt' is not defined